<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Type</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Mission</th>
    </tr>
  </thead>
  <tbody>
    <tr class="table-active">
      <th scope="row">Interpolation</th>
      <td>{{Name}}</td>
      <td>{{Age}}</td>
      <td>{{Mission}}</td>
    </tr>
    <tr>
      <th scope="row">Property</th>
      <button [disabled]="isDisabled" (click) = "increment()">{{ButtonName}}</button>
      <td>{{count}}</td>
    </tr>
  </tbody>
</table>

<div>
      <label for="exampleInputEmail1" class="form-label mt-4">Two-Way</label>
      <h2>{{FullName}}</h2>
      <input type="text" [(ngModel)] = "FullName" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
</div>

<div>
    <p>Toggle</p>
    <button (click) = "!isVisible">
        @for (item of list; track $index){
            <p>{{item}}</p>
        }
</div>